/* Add this CSS to your stylesheet */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it is above other elements */
}

/* src/components/DropZone.css */
.dropzone {
  position: fixed;
  top: 60px; /* Adjust this value to match the height of your navbar */
  left: 0;
  width: 98%;
  height: calc(98% - 60px); /* Adjust this value to match the height of your navbar */
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
}

.drop-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
}

.files-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}